.wrapper{
    padding: 26px 20px;
}
.App-header ul {
    margin-bottom: 0;
    margin-right: 16px;
}

.App-header ul li{
    color: white;
    padding-right: 16px;
    min-width: 24px;
    min-height: 24px;
    font-size: 14px;
    display:flex;
    flex-direction: row;
    align-items: center;
}