ul{
    list-style: none;
}
.bookColList ul li{
    padding:0 35px;
    width: 50%;
}
.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.flex-grid{
    flex-direction: row;
    flex-wrap: wrap;
}